<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="QuanlysinhvienDBContext" connectionString="data source=LAPTOP-VTQR1SQA\SQLEXPRESS;initial catalog=Quanlysinhvien;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"
      providerName="System.Data.SqlClient" />
    <add name="QuanlysinhvienDBContext1" connectionString="data source=LAPTOP-VTQR1SQA\SQLEXPRESS;initial catalog=Quanlysinhvien;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"
      providerName="System.Data.SqlClient" />
    <add name="_2_BTTra_LHKien_DTHieu_PATuan_DVTu_LTNET.Properties.Settings.QuanlysinhvienConnectionString"
      connectionString="Data Source=LAPTOP-VTQR1SQA\SQLEXPRESS;Initial Catalog=Quanlysinhvien;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>